body {
  background: black;
  color: #00ff00;
  text-align: center;
  font-family: monospace;
}

canvas {
  border: 3px solid #00ff00;
  margin-top: 10px;
  cursor: none;
}

#hud {
  font-size: 16px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  width: 500px;
  margin: auto;
}

#record {
  color: red;
  font-weight: bold;
}

#champion {
  color: cyan;
  font-weight: bold;
}

.hidden {
  display: none;
}

#gameOver {
  margin-top: 15px;
}

input {
  width: 60px;
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
}
